@{
    ViewData["Title"] = "Witamy w Rezerwatorze";  // Ustawiamy tytuł strony
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>  <!-- Wyświetlamy tytuł -->
    <p class="lead">Witamy na naszej stronie rezerwacji pokoi. Znajdź idealny pokój na swój pobyt!</p>
</div>
