<h1>Witaj w panelu admina</h1>
<p>Wybierz jedną z dostępnych opcji:</p>

<ul>
    <li><a asp-controller="Admin" asp-action="Rooms">Zarządzaj pokojami</a></li>
    <li><a asp-controller="Admin" asp-action="Reservations">Zarządzaj rezerwacjami</a></li>
    <li><a asp-controller="Admin" asp-action="Users">Zarządzaj użytkownikami</a></li>
</ul>