@model IEnumerable<HotelSystem.Models.User>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<h1>Lista użytkowników</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa użytkownika</th>
            <th>Czy Admin</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.IsAdmin</td>
                <td>
                    <form asp-action="DeleteUser" method="post">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
