@{
    ViewData["Title"] = "Strona Główna";
}


<div class="container">
    <h1>Witamy w naszym Hotelu!</h1>
    <p>Zapraszamy do odkrycia luksusu, komfortu i wspaniałej obsługi.</p>
</div>

