@{
    ViewData["Title"] = "Historia";
}


<div class="container">
    <h1>Historia naszego hotelu</h1>
    <p>
        Nasz hotel został założony w 1950 roku przez rodzinę Kowalskich. Przez dekady zdobywał uznanie za wyjątkową obsługę oraz luksusowe warunki.
        W 2000 roku hotel przeszedł gruntowną renowację, aby sprostać wymaganiom współczesnych gości.
        Dziś jest jednym z najbardziej prestiżowych miejsc w regionie, oferując komfort, nowoczesność oraz wyjątkową atmosferę.
    </p>
</div>
